extends layouts/main
include mixins/movieBlock

block contents
        h1 #{title}
            each movie in movies
                +movieAll({
                    id:movie.id,
                    title:movie.title
                })
          
